<%- include("./partials/header", {title: "Waregram: Login", user: false} ) %>
<form action="/login" method="post"
      style="display: flex; justify-content: center; align-items: center">
    <div style="width: 100%; max-width: 640px;">
        <h1 class="mb-3 text-center">Login</h1>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
        <% } %>
        <div class="mb-3">
            <input type="text" name="username" placeholder="Username" class="form-control" required>
        </div>
        <div class="mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control" required>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
<%- include("./partials/footer") %>
